@model IndexPageViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        @if(Model.StatusString == "Occupied")
        {
            @: background-color:red;
        }
        else
        {
            @: background-color:green;
        }
    }
</style>

<script>
    window.setTimeout(function () {
        $.ajax({
            type: 'GET',
            url: '/',
            success: function (response) {
                // re-writes the entire document
                var newDoc = document.open("text/html", "replace");
                newDoc.write(response);
                newDoc.close();
            }
        });
    }, 5000);
</script>
<div class="row justify-content-md-center">
    <div class="col col-12">
        <h2>RoyalOffice WC Indicator</h2>
        Current Status: @Model.StatusString Updated: @Model.Updated
    </div>
</div>
