@model IndexPageViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        @if(Model.StatusString == "Occupied")
        {
            @: background-color:red;
        }
        else
        {
            @: background-color:green;
        }
    }
</style>
<div class="row justify-content-md-center">
    <div class="col col-12">
        <h2>Nexpertis WC Indicator</h2>
        Current Status: @Model.StatusString
    </div>
</div>
